<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>USER HOME PAGE</title>
    <link rel="stylesheet" href="./user_style.css">

</head>

<body>
    <div class="user_container">
        <header>
            
        </header>
        <div class="header">
            <h1>Project List 2021</h1>
            <form id="new-project-form">
                <input type="text" name="new-project-input" id="new-project-input" placeholder="What do you have planned?" />
                <input type="submit" id="new-project-submit" value="Add project" />
            </form>

        </div>
        <main>
            <section class="project-list">
                <h2>Project</h2>

                <div id="projects">

                    <!-- <div class="project">
                        <div class="content">
                            <input 
                                type="text" 
                                class="text" 
                                value="A new task"
                                readonly>
                        </div>
                        <div class="actions">
                            <button class="edit">Edit</button>
                            <button class="delete">Delete</button>
                        </div>
                    </div> -->

                </div>
            </section>
        </main>
    </div>
    <script src="./user_home.js"></script>
</body>

</html>